/* src/components/HomePage.css */

.homepage {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #f3f4f0;
    background: #141414;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .homepage-header {
    margin-bottom: 20px;
  }
  
  .homepage-header h1 {
    font-size: 2.2rem;
    color: #0fb2f3;
  }

  .homepage-header h2{
    font-size: 2 rem;
    color: aquamarine;
  }

  .homepage-header h3{
    font-size: 1.5rem;
    color: aqua;
  }
  
  .homepage-header p {
    font-size: 1.2rem;
    color: #efe7e7;
  }
  
  .homepage-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    background-color: #0fcae2;
    color: rgb(29, 28, 28);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #084888;
  }
  
  button:focus {
    outline: none;
  }

  .image-container {
    text-align: center;
  }
  
  .centered-image {
    max-width: 50%; /* Adjust this value as needed */
    height: auto;
  }


